<div class="outer-container">
  <div class="logout-button-container">
    <span class="login-mark">Login as {{ user?.name }}</span>
    <button (click)="logout()" class="logout-button">LOGOUT</button>
  </div>
  <div class="container">
    <div class="story-item-container">
      <div class="story-item" *ngFor="let story of stories">
        <span class="story">{{ story.story }}</span>
        <span class="creator-and-date">
          <span class="creator">Author {{ story._creator.name }}</span>
          <span class="date">at {{ story.createdAt | date }}</span>
        </span>
        <div class="action-button-container" *ngIf="user._id==story._creator._id">
          <div class="button-group">
            <button (click)="edit(story._id)" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button (click)="delete(story)" class="delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
    <app-add-story (onStoryAddedEventEmitter)="onStoryAdded($event)"></app-add-story>
    <app-edit-modal *ngIf="editModal" (onBackEventEmitter)="onBack($event)" [story]="storyForEditModal"></app-edit-modal>
  </div>
</div>
