<div class="outer-container">
  <div class="logout-button-container">
    <button (click)="logout()" class="logout-button">LOGOUT</button>
  </div>
  <div class="container">
    <div class="story-item-container">
      <div class="story-item" *ngFor="let story of stories">
        <span class="story">{{ story.story }} - <span class="creator">{{ story._creator.name }}</span></span>
        <span class="date">{{ story.createdAt | date }}</span>
      </div>
    </div>
    <app-add-story (onStoryAddedEventEmitter)="onStoryAdded($event)"></app-add-story>
  </div>
</div>
